[submodule ".fzf"]
	path = .fzf
	url = https://github.com/junegunn/fzf
[submodule "plugins/alias-tips"]
	path = plugins/alias-tips
	url = https://github.com/djui/alias-tips
[submodule "plugins/colorize"]
	path = plugins/colorize
	url = https://github.com/zpm-zsh/colorize
[submodule "plugins/enhancd"]
	path = plugins/enhancd
	url = https://github.com/b4b4r07/enhancd
[submodule "plugins/fast-syntax-highlighting"]
	path = plugins/fast-syntax-highlighting
	url = https://github.com/zdharma/fast-syntax-highlighting
[submodule "plugins/powerlevel10k"]
	path = plugins/powerlevel10k
	url = https://github.com/romkatv/powerlevel10k
[submodule "plugins/zsh-autopair"]
	path = plugins/zsh-autopair
	url = https://github.com/hlissner/zsh-autopair
[submodule "plugins/zsh-autosuggestions"]
	path = plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule "plugins/zsh-expand"]
	path = plugins/zsh-expand
	url = https://github.com/MenkeTechnologies/zsh-expand
[submodule "plugins/zsh-git-acp"]
	path = plugins/zsh-git-acp
	url = https://github.com/MenkeTechnologies/zsh-git-acp
[submodule "plugins/zsh-more-completions"]
	path = plugins/zsh-more-completions
	url = https://github.com/MenkeTechnologies/zsh-more-completions
[submodule "plugins/zsh-very-colorful-manuals"]
	path = plugins/zsh-very-colorful-manuals
	url = https://github.com/MenkeTechnologies/zsh-very-colorful-manuals
