base/ssh/.ssh/*
!base/ssh/.ssh/config
!base/ssh/.ssh/*/
!base/ssh/.ssh/*/*.secret
base/ssh/.ssh/*/*

.gitsecret/keys/random_seed
!*.secret
base/pipewire/.config/pipewire/pipewire.conf
desktop/dconf/.config/dconf/user

*.zwc

